.projects {
  padding-top: 4rem;
  text-align: center;
  background-color: black;
  color: white;
  position: relative;
}

.footer-header {
  background-size: 100%;
  background-position: no-repeat center center fixed;
  position: relative;
  padding-top: 4rem;
}

.footer-header p {
  margin-bottom: 8rem;
}

.projects * {
  margin: 0px;
}

.projects h1,
.projects p {
  font-size: 3rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0.6rem;
  gap: 10px;
  margin-bottom: 0rem;
  position: relative;

  overflow: hidden;
}
.projects-container * {
  flex: 1 13rem;
}

.project-section {
  position: relative;
  color: #3061e3;
  background-position: top center;
  background-color: rgba (0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-section * {
  background-color: transparent;
}

.project-section img {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  top: 0px;
  left: -300px;
  bottom: 0px;
  height: 100%;
}

.projects-container h4 {
  background-color: transparent;
  text-shadow: 3px 3px black;
  color: #3061e3;
  position: relative;
  font-size: 4.3rem;
  text-align: left;
  z-index: 100000000;
}

.projects-container p {
  background-color: transparent;
  position: relative;
  font-size: 1.8rem;
  z-index: 2;
  text-align: left;
}

.techstack {
  text-align: left;
}
.techstack h2 {
  font-size: 1rem;
}

.techstack p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.techstack a {
  color: #dd8800;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
}

.techstack a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 850px) {
  .project-section {
    margin: auto;
    width: 80%;
  }
  .project-section img {
    left: 0;
    margin: auto;
  }
}
