.post-container {
  margin: auto;
  width: 90%;
}

.article-image-container {
  max-width: 100%;
  max-height: 20rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

.article-image-container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 50%;
  display: block;
}

.title h1 {
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 7rem;
  margin: 0px;
}

.author-date img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date {
  text-align: left;
  font-size: 0.8rem;
}

.date p {
  text-align: left;
}

.author img {
  max-width: 100%;
}

.content {
  width: 93%;
  margin: auto;
  font-size: 1.7rem;
  line-height: 2;
}

.article-bold-text {
  text-align: left;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0rem;
  display: block;
}

@media screen and (min-width: 850px) {
  .post-container {
    width: 100%;
  }
  .content {
    width: 100%;
    text-align: left;
    line-height: 2.2;
    font-size: 0.75rem;
  }

  .article-bold-text {
    font-size: 2rem;
  }
}
