 .blog {
   margin-top:5rem;
 }

 .articles {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 .articles * {
   text-decoration: none;
 }

 .preview {
   display: flex;
   justify-content: space-between;
 }

 .post {
   text-align: start;
 } 

 .post * {
   text-align: start;
 }



