html {
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  position: relative;
  background-color: black;
}

body {
  margin: 0px;
  position: static;
}

.light * {
  color: black;
  background-color: white;
  border-color: black;
  position: relative;
  transition: 1s;
}

.dark * {
  transition: 1s;
  color: white;
  background-color: black;
  border-color: white;
  position: relative;
}
